{% extends 'base.html.twig' %}
{% block body %}

    <div class="jumbotron text-center">
        <h1>Agence glio</h1>
        <p>Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.</p>
    </div>

<div class="container">
<h2>Les derniers biens</h2>
<div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            {% include 'property/_property.html.twig' %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}