<div class="card mb-4 js-marker" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}" data-title="{{ property.title }}">
    <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
        {% if property.picture %}
            {# Lien original de l'image :   src="/images/properties/{{ property.filename }}" #}
            {# Avec vich_uploader :         {{ vich_uploader_asset(property, 'imageFile') }} comme ça on peut changer route ailleurs #}
            <img src="{{ vich_uploader_asset(property.picture, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% else %}
            <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% endif %}
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">
            {{ property.description | nl2br }}
        </p>
        <p class="card-text">
            [{{ property.surface }}
            m²] -
            {{ property.city }}
            ({{ property.postalCode }})
        </p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ property.formatedPrice }}
            €
        </div>
    </div>
</div>
