{% extends 'base.html.twig' %}
{% block title %}Biens{% endblock %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}
			<div class="form-row align-items-end">
				<div class="col">
					{{ form_row(form.minSurface) }}
				</div>
				<div class="col">
					{{ form_row(form.maxPrice) }}
				</div>
				<div class="col">
					{{ form_row(form.options) }}
				</div>
				<div class="col">
					{{ form_row(form.address, {id: 'search_address'}) }}
				</div>
				<div class="col">
					{{ form_row(form.distance) }}
				</div>
				<div class="col">
					<div class="form-group">
						<button class="btn btn-primary">Rechercher</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	<div class="container-fluid mt-4">
		<h1>Voir tous nos biens</h1>
		<div class="row">
			<div class="col-lg-6" id="property_list">
				<div class="row">
					{% for property in properties %}
						<div class="col-md-6">
							{% include 'property/_property.html.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-6">
				<div id="map" class="map_index" data-lat="11" data-lng="12"></div>
			</div>
		</div>
		<div class="pagination">
			{{ knp_pagination_render(properties) }}
		</div>
	</div>

</div>{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('properties_map') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('properties_map') }}
{% endblock %}