{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include('admin/_form.html.twig', {form: form, button: 'Editer'})  }}
    </div>

{% endblock %}
