{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer le bien</h1>
        {# Pas obligé de mettre form: form, il trouvera tout seul #}
        {{ include('admin/_form.html.twig', {form: form, button: 'Créer'})  }}
    </div>

{% endblock %}
