.map_show {
	width: 100%;
	height: 400px;
}

.map_index {
	height: 100vh;
}

.marker.leaflet-popup {
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  .marker.leaflet-popup::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFF;
  }
  
  .marker .leaflet-popup-content-wrapper {
    background: transparent;
    color: inherit;
    box-shadow: none;
    text-align: inherit;
  }
  
  .marker .leaflet-popup-content {
    text-align: inherit;
    color: inherit;
    margin: 0;
  }
  
  .marker .leaflet-popup-tip-container {
    display: none;
  }
  
  .marker.is-active, .marker:hover {
    z-index:300;
    background-color: #5069ff;
    color: #FFF;
  }
  
  .marker.is-active::after, .marker:hover::after {
    border-top-color: #5069ff;
  }
  
  .marker.is-expanded {
    background-color: #fff!important;
    color: inherit!important;
    z-index:301;
    text-align: left;
  }
  
  .marker.is-expanded::after {
    border-top-color: #FFF!important;
  }
  

@media only screen and (min-width: 1100px) {
	.map_index {
		background-color: #cccccc;
		position: sticky !important;
		top: 0;
		right: 0;
		left: 0;
	}
}
