<h1>Demande de contact Ref : {{ contact.property.id }}</h1>
<p>Une nouvelle personne souhaiterais obtenir des informations sur le bien <a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug}) }}">{{ contact.property.title }}</a></p>
<table>
	<tr>
		<td>Nom du bien</td>
		<td><a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug}) }}">{{ contact.property.title }}</a></td>
	</tr>
	<tr>
		<td>Prénom</td>
		<td>{{ contact.firstName }}</td>
	</tr>
	<tr>
		<td>Nom de famille</td>
		<td>{{ contact.lastName }}</td>
	</tr>
	<tr>
		<td>Téléphone</td>
		<td>{{ contact.phone }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ contact.email }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>{{ contact.message | nl2br }}</td>
	</tr>
</table>